.head__container {
    padding-top: 168px;
    padding-bottom: 168px;
}
.head__title {
    @include font;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin: 0;
}
.head__list {
    display: flex;
    flex-wrap: wrap;
    @include reset-list;
    padding-top: 72px;
}
.head__item {
    width: 282px;
    margin-right: 95px;
}
.head__item:nth-child(3n),
.head__item:last-child {
    margin-right: 0;
}
.head__item-title {
    @include font;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin: 0;
    padding-top: 45px;
}
.head__item-list {
    @include reset-list;
    padding-top: 24px;
}
.head__item-item {
    color: #333D4B;
}