.intro-about__container {
    width: 1280px;
    background-image: url("../img/about-intro-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.intro-about__content {
    width: 445px;
    padding-top: 137px;
    padding-bottom: 137px;
    padding-left: 85px;
}
.intro-about__title {
    @include font;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
}
.intro-about__descreption {
    color: #FEFCF7;
    margin: 0;
    padding-top: 24px;
}