.works__container {
    width: 1045px;
    margin: 0 auto;
    padding-bottom: 200px;
    position: relative;
}
.works__descreption {
    font-family: "Fraunces", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin: 0;
}
.works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 64px;
}
.works__list::before {
    content: "";
    display: block;
    width: 760px;
    background-color: #FDD6BA;
    border: 2px solid #FDD6BA;
    position: absolute;
    left: 1.48%;
    top: 14.2%;   
    z-index: -1;
}
.works__item {
    width: 285px;
    margin-right: 95px;
}
.works__item::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    background-color: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
}
.works__item:nth-child(3n),
.works__item:last-child {
    margin-right: 0;
}
.works__item-enjoy {
    font-family: "Fraunces", Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin: 0;
    padding-top: 67px;
}
.works__item-title {
    font-family: "Fraunces", Arial, sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin: 0;
    padding-top: 38px;
    width: 255px;
}
.works__item-descreption {
    color: #333D4B;
    margin: 0;
    padding-top: 42px;
}
.link {
    color: #2C343E;
    transition: 100ms ease all;
}
.link:hover {
    color:  #FEFCF7;
}