.intro-create__container {
    width: 1280px;   
    background-image: url("../img/create-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro-create__container {
    background-image: url("../img/create-img@2x.jpg");
  }
}
.intro-create__content {
    padding-left: 86px;
    padding-top: 134px;
    padding-bottom: 134px;
    color: #FEFCF7;
}
.intro-create__title {
    @include font;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    width: 495px;
}
.intro-create__descreption {
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
    padding-top: 32px;
    width: 445px;
}