.intro-create__container {
    width: 1280px;   
    background-image: url("../img/create-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.intro-create__content {
    padding-left: 86px;
    padding-top: 134px;
    padding-bottom: 134px;
    color: #FEFCF7;
}
.intro-create__title {
    @include font;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    width: 495px;
}
.intro-create__descreption {
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
    padding-top: 32px;
    width: 445px;
}