.why__container {
    display: none;
    margin-top: 300px;
    position: relative;
}
.why__container::before {
    content: "";
    width: 100%;
    height: 577px;
    background-color: #2C343E;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    z-index: -1;
}
.why__content {
    text-align: center;
}
.why__title {
    @include font;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
}
.why__descreption {
    display: inline-block;
    width: 540px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
    padding-top: 32px;
}
.why__list {
    @include flex;
    @include reset-list;
    padding-bottom: 200px;
    padding-top: 86px;
}
.why__item {
    text-align: center;
    width: 350px;
    background-color: #0E8784;
    border-radius: $small-radius;
    margin-right: 30px;
    padding-top: 72px;
}
.why__item:nth-child(3n),
.why__item:last-child {
    margin-right: 0;
}
.why__item-title {
    @include font;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin: 0;
    padding-top: 56px;
}
.why__item-descreption {
    display: inline-block;
    width: 255px;
    color: #FEFCF7;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 48px;
}